<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">
<head>
	<link rel="stylesheet" href="/css/notices/notice.css">
</head>
<body>
	<!--  -->
	<main class="sample"><!--본인담당 기능대표명 클래스에 작성 -->
		<!--여기에 서브메뉴가 필요하신 경우 작성해주세요. 클래스 명은 반드시 cmsubnav 포함시켜주세요 -->
	    <th:block th:replace="~{/views/notices/cmsubmenu}"/>
		
		<!--메인 컨텐츠는 여기에 작성해주세요. 반드시 클래스명에 cmcontents  포함시켜주세요 -->
		<div class="cmcontents">
			<div id="cmcreate">
				<h1>공지사항</h1>
				<form id="write-back" action="/#" method="get">
					<a href="/notices"><span>뒤로가기</span></a>
				</form>
			</div>
			<div id="default-mode">
				<ul >
					<li th:text="${detail.no}">번호</li>
					<li th:text="${detail.title}">제목</li>
					<li class="flex around">
						<dl class="flex">
							<dt>영화관</dt>
							<dd><b th:text="${detail.division}">???</b></dd>
						</dl>
						<dl class="flex">
							<dt>등록일</dt>
							<dd><b th:text="${detail.createdAt.toLocalDate}">???</b></dd>
						</dl >
						<dl class="flex">
							<dt>최종수정일</dt>
							<dd><b th:text="${detail.updatedAt.toLocalDate}">???</b></dd>
						</dl >
						<dl class="flex">
							<dt>조회수</dt>
							<dd><b th:text="${detail.readCount}">???</b></dd>
						</dl>
					</li>
					<li th:text="${detail.content}">상세정보</li>
					
					<li>
						<button onclick="btnUpdateClicked()">수정</button>
						<form  onsubmit="return btnDeleteClicked()"  th:action="|/cscenter/notices/${detail.no}|"   method="post" >
							<input type="hidden" name="_method" value="delete">			
							<button type="submit">삭제</button>
						</form>
						
					</li>
					
				</ul>
			</div>
		</div>
	</main>
</body>
</html>