<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">
<head>
	<link rel="stylesheet" href="/css/samplel/sample.css">
	<script src="/js/sample/sample.js" defer></script>  
</head>
<body>
	<!--  -->
	<main class="sample"><!--본인담당 기능대표명 클래스에 작성 -->
		<!--여기에 서브메뉴가 필요하신 경우 작성해주세요. 클래스 명은 반드시 cmsubnav 포함시켜주세요 -->
	    <th:block th:replace="~{/views/personnel/cmsubmenu}"/> 
		
		<!--메인 컨텐츠는 여기에 작성해주세요. 반드시 클래스명에 cmcontents  포함시켜주세요 -->
		<section class="cmcontents">
			<div>
				<h1>직원조회</h1>

				<ul>
					<li>직원번호</li>
					<li></li>
				</ul>
			</div>





		</section>




	</main>

</body>
</html>