<!DOCTYPE html>
<html>

<body>
	<nav class="cmnav">
		<div class="cmnav-top">
			<i class="fa-solid fa-bars menubar"></i>
			<div class="logo">
				<h1 >
					<a href="/"> <img src="images/logo.png" alt="JOAT office">
					</a>
				</h1>

			</div>


		</div>

		<div class="cmnav-bttom">
			<ul class="menu">
				<li><a href="#"><i class="fa-solid fa-house"></i><span>홈</span></a></li>
				<li><a href="#"><i class="fa-regular fa-user"></i><span>인사관리</span></a></li>
				<li><a href="#"><i class="fa-solid fa-list-ul"></i><span>예약관리</span></a></li>
				<li><a href="/inventory"><i class="fa-regular fa-calendar-days"></i><span>재고 및 구매</span></a></li>
				<li><a href="/notices"><i class="fa-solid fa-comment-dots"></i><span>공지사항</span></a></li>
				<li><a href="#"><i class="fa-solid fa-book"></i><span>일정관리</span></a></li>
				<li><a href="#"><i class="fa-solid fa-book"></i><span>고객관리</span></a></li>
			</ul>

			<ul class="administrator-menu">
				<li><a href="#"><i class="fa-solid fa-user-tie"></i></i><span>관리자</span></a></li>
			</ul>

		</div>

	</nav>

</body>
</html>
