@charset "UTF-8";

/*전체 배경 컬러*/
body{background-color:var(--body-color); }

.layoutWrap{display: grid; grid-template-columns: 200px calc(100% - 400px); grid-template-rows: 74px calc(100vh - 74px);
grid-template-areas:
'a b b'
'a c c'
;}

.topcontent{width: 50%; height: 50%; grid-area: b;}
.bottomcontent{width: 50%; height: 50%; grid-area: b;}