<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">
<head>
	<link rel="stylesheet" href="/css/samplel/sample.css">
	<link rel="stylesheet" href="/css/chat/chat.css">
	<script src="/js/sample/sample.js" defer></script>  
</head>
<body>
	<main class="chat">
		<section class="content-wrapper">
            <div class="chat-container">
                <div class="chat-list">
                    <h2>
                    <a href="#" id="friendsLink">친구 목록</a>
                    <a href="#" id="chatLink">채팅방</a>
                    </h2>
                    <ul>
                        <li>
                            <img src="/images/man.jpg" alt="Profile 1">
                            <span>박점례</span>
                        </li>
                        <li>
                            <img src="/images/man.jpg" alt="Profile 2">
                            <span>김순옥</span>
                        </li>
                        <li>
                            <img src="/images/man.jpg" alt="Profile 3">
                            <span>김순재</span>
                        </li>
                        
                    </ul>
                </div>
                
                <div class="chat-window">
                    	<div class="chat-header">
                        <img src="/images/man.jpg" alt="Current Profile" class="current-profile-img">
                        <span class="current-profile-name">김순옥</span>
                    </div>
                    <div class="messages">
                         <div class="message received">우루루루루룰루랄까깍가가가각ㄱㄱ가아아으쟈러이냐야ㅑ지ㅣ니닝이이므에ㅐ야야ㅏ자잉냐야!</div>
                        <div class="message sent">우루루루루룰루랄까깍가가가각ㄱㄱ가아아으쟈러이냐야ㅑ지ㅣ니닝이이므에ㅐ야야ㅏ자잉냐야!</div>
                        <!-- Add more messages as needed -->
                    </div>
                    <div class="input-area">
                        <input type="text" placeholder="메세지를 입력해주세요" />
                        <button></button>
                    </div>
                </div>
            </div>
       </section>

	</main>
</body>
</html>