<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">
<head>
<link rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>

</head>
<body>
	<main>
		<div class="index cmcontents">

			<!--출퇴근 대시보드-->
			<div class="dashboard"></div>


			<!--이벤트-->
			<div class="dashboard"></div>

			<!--기능1-->
			<div class="dashboard"></div>


			<!--기능2-->
			<div class="dashboard"></div>


			<!--기능3-->
			<div class="dashboard"></div>

		</div>




	</main>

</body>
</html>