<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">
<head>
<link rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');

			// 비동기로 이벤트 데이터 가져오기
			fetch('/calendar/events')
					.then(response => response.json())
					.then(eventsData => {
						var calendar = new FullCalendar.Calendar(calendarEl, {
							initialView: 'dayGridMonth',
							height: '100%',
							events: eventsData.map(event => ({
								title: event.title,
								start: event.start
							}))
						});
						calendar.render();
					})
					.catch(error => {
						console.error('Error fetching events:', error);
					});
		});
	</script>

</head>
<body>
	<main>
		<div class="index cmcontents">

			<!--프로필 대시보드-->
			<div class="dashboard profile">
				<ul>
					 <li class="profilePhoto"><img th:if="${#authorization.expression('isAuthenticated()')}"th:src="${ProfilePhoto.profileImage != null ? 'data:image/jpeg;base64,' + ProfilePhoto.profileImage : 'https://i.pinimg.com/564x/a5/e8/4d/a5e84dd8104ba6287b72e16401d173d7.jpg'}"alt="프로필 사진" ></li>   
					<li class="subfont" th:text="${#authentication.principal.department.getKoName()}"></li>
					<li sec:authentication="principal.name"></li>
				</ul>
			
			</div>


			<!--최근 공지사항-->
			<div class="dashboard lately-notice-wrap">
				<div class="lately-notice cmposting-format">
				
					<p class="subfont">최근 공지사항</p>
					<ul>
						<li> <!--목차입니다.-->
							<span>번호</span>
							<span>부서</span>
							<span>제목</span>
							<span>등록일</span>
							<span>글쓴이</span>
						</li>
						<li>
							<span>번호</span>
							<span>부서</span>
							<span><a href="#">무야호</a></span>
							<span>등록일</span>
							<span>작성자</span>						
						</li>
								<li>
							<span>번호</span>
							<span>부서</span>
							<span><a href="#">우리회사에 물소텐트가 있다는게 사실인가요?</a></span>
							<span>등록일</span>
							<span>작성자</span>						
						</li>
								<li>
							<span>번호</span>
							<span>부서</span>
							<span><a href="#">쿼카는 어느 부서 사람인가요 </a></span>
							<span>등록일</span>
							<span>작성자</span>						
						</li>
								<li>
							<span>번호</span>
							<span>부서</span>
							<span><a href="#">쿼카는 퇴근이 하고싶다.</a></span>
							<span>등록일</span>
							<span>작성자</span>						
						</li>
										<li>
							<span>번호</span>
							<span>부서</span>
							<span><a href="#">메가커피 무알콜 하이볼은 회사에서 먹을 수 있나요?</a></span>
							<span>등록일</span>
							<span>작성자</span>						
						</li>
										<li>
							<span>번호</span>
							<span>부서</span>
							<span><a href="#">우리 회사는 블랙기업 인가요? 왜 휴가 승인이 안되요</a></span>
							<span>등록일</span>
							<span>작성자</span>						
						</li>
										<li>
							<span>번호</span>
							<span>부서</span>
							<span><a href="#">우리 부장님은 짜장면이 좋다고 하셨어</a></span>
							<span>등록일</span>
							<span>작성자</span>						
						</li>
					</ul>	
				</div>
			</div>


			<!--출퇴근 대시보드-->
			<div class="dashboard todayAttendance-wrap">

				<div class="todayAttendance">

					<ul class="today-commute-schedule">
						<li class="subfont">오늘의 출퇴근 스케줄</li>
						<li><span>출근 시간 : </span><span>09:00</span></li>
						<li><span>퇴근 시간 : </span><span>18:00</span></li>
					</ul>


					<ul class="today-commute-status">
						<li class="subfont">오늘의 출퇴근 현황</li>
						<li><span>출근시간 : </span><span>09:00</span></li>
						<li><span>퇴근시간 : </span><span>18:00</span></li>
						<li><span>근무시간 : </span><span>02:00</span></li>
						<li><span>초과 근무시간 : </span><span>00:00</span></li>
						<li><span>상태 : </span><span>지각</span></li>
					</ul>
					
					<ul class="commute-button">
						<li><button class="clock-in-button cmbutton">출근</button></li>
						<li><button class="clock-out-button cmbutton">퇴근</button></li>
					</ul>

				</div>


			</div>


			<!--최근 추가된 물품 리스트-->
			<div class="dashboard">
				<div class="lately-item cmposting-format">
				
					<p class="subfont">최근 물품리스트</p>
					<ul>
						<li> <!--목차입니다.-->
							<span>코드</span>
							<span>이름</span>
							<span>가격</span>
							<span>단위</span>
						</li>
						<li>
							<span>번호</span>
							<span>부서</span>
							<span></span>
							<span>작성자</span>						
						</li>
								<li>
							<span>번호</span>
							<span>부서</span>
							<span>물소텐트</span>
							<span>작성자</span>						
						</li>
								<li>
							<span>번호</span>
							<span>부서</span>
							<span></span>
							<span>작성자</span>						
						</li>
								<li>
							<span>번호</span>
							<span>부서</span>
							<span></span>
							<span>작성자</span>						
						</li>
										<li>
							<span>번호</span>
							<span>부서</span>
							<span></span>
							<span>작성자</span>						
						</li>
										<li>
							<span>번호</span>
							<span>부서</span>
							<span></span>
							<span>작성자</span>						
						</li>
										<li>
							<span>번호</span>
							<span>부서</span>
							<span></span>
							<span>작성자</span>						
						</li>
					</ul>	
				</div>
			
			
			</div>


			<!--기능3-->
			<div class="dashboard">
				<div id='calendar'></div>
			</div>

		</div>




	</main>

</body>
</html>