<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
	<link rel="stylesheet" href="/css/inventory/inventory_write.css">
	<script src="/js/inventory/item.js"></script>
</head>

<body>
	<!--  -->
	<main class="sample"><!--본인담당 기능대표명 클래스에 작성 -->
		<!--여기에 서브메뉴가 필요하신 경우 작성해주세요. 클래스 명은 반드시 cmsubnav 포함시켜주세요 -->
		<th:block th:replace="~{/views/inventory/cmsubmenu}" />

		<!--메인 컨텐츠는 여기에 작성해주세요. 반드시 클래스명에 cmcontents  포함시켜주세요 -->
		<div class="cmcontents">
			<div id="cmcreate">
				<h1>품목 추가</h1>
				<a href="/inventory">이전</a>
				<form action="/inventory/inventory-add" method="post">
					<div>
						<label>대분류:</label>
						<select name="productCategory">
							<th:block th:each="d:${T(com.green.greenGotell.domain.enums.ProductCategory).values()}">
								<option value="${d.displayName}">[[${d.displayName}]]</option>
							</th:block>
						</select>
					</div>
					<div>
						<label>중분류:</label>
						<select id="sub-category" name="productMiddleCategory" onchange="updateSubSubCategory()">
							<option value="">선택해주세요</option>
						</select>
					</div>
					<div>
						<label>소분류:</label>
						<select id="sub-sub-category" name="productSmallCategory">
							<option value="">선택해주세요</option>
						</select>
					</div>
					<div>
						<label>코드:</label>
						<input type="text" name="productCode" placeholder="제품코드 입력해주세요.">
					</div>
					<div>
						<label>이름:</label>
						<input type="text" name="name" placeholder="제품명 입력해주세요.">
					</div>
					<div>
						<label>규격(kg):</label>
						<select name="standard">
							<th:block th:each="d:${T(com.green.greenGotell.domain.enums.Standard).values()}">
								<option value="${d.displayName}">[[${d.displayName}]]</option>
							</th:block>
						</select>
					</div>
					<div>
						<label>공급처:</label>
						<input type="text" name="itemSource" placeholder="공급처">
					</div>
					<div>
						<label>가격:</label>
						<input type="text" name="itemMoney" placeholder="가격">
					</div>
					<button type="submit">등록</button>
					<button type="button" onclick="window.location.href='/inventory'">취소</button>
				</form>
			</div>
	</main>
</body>

</html>