<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
	<link rel="stylesheet" href="/css/inventory/inventory_list.css">
	<script src="/js/inventory/item.js"></script>
</head>

<body>
	<!--  -->
	<main class="sample"><!--본인담당 기능대표명 클래스에 작성 -->
		<!--여기에 서브메뉴가 필요하신 경우 작성해주세요. 클래스 명은 반드시 cmsubnav 포함시켜주세요 -->
		<th:block th:replace="~{/views/inventory/cmsubmenu}" />

		<!--메인 컨텐츠는 여기에 작성해주세요. 반드시 클래스명에 cmcontents  포함시켜주세요 -->
		<div class="cmcontents">

			<div id="cmcreate">
				<h1>품목 리스트</h1>
				<a href="/inventory-add"><i class="fa-solid fa-plus"></i><span>만들기</span></a>
			</div>
			<!--메인 컨텐츠 중 게시판 서치 양식 입니다. 반드시 div 아이디에 cmsearch-form포함 -->
			<div id="cmsearch-form">


				<form action="#" method="get">
					<select id="main-category" onchange="updateSubCategory()">
						<option value=""> 대분류</option>
						<option value="의류">의류</option>
						<option value="식품">식품</option>
						<option value="주방용품">주방용품</option>
						<option value="생활용품">생활용품</option>
						<option value="인테리어">인테리어</option>
						<option value="가전 디지털">가전 디지털</option>
						<option value="문구/오피스">문구/오피스</option>
						<option value="스포츠">스포츠</option>
						<option value="기타">기타</option>
					</select>

					<select id="sub-category" onchange="updateSubSubCategory()">
						<option value=""> 중분류</option>
					</select>

					<select id="sub-sub-category">
						<option value=""> 소분류</option>
					</select>
					<input type="text" placeholder="검색어를 입력해주세요.">
					<button type="submit">검색</button>
				</form>
			</div>
			<div id="cmposting-format">
				<ul>
					<li> <!--목차입니다.-->
						<span>코드</span>
						<span>부서</span>
						<span>이름</span>
						<span>규격</span>
						<span>공급처</span>
						<span>가격</span>
					</li>

					<li><!--타임리프 적용하려야하는 곳 입니다.-->
						<span>코드</span>
						<span>이름</span>
						<span>규격</span>
						<span>공급처</span>
						<span>가격</span>
					</li>
				</ul>
			</div>

		</div>
	</main>
</body>

</html>