<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
	<link rel="stylesheet" href="/css/inventory/inventory_list.css">
</head>

<body>
	<!--  -->
	<main class="sample"><!--본인담당 기능대표명 클래스에 작성 -->
		<!--여기에 서브메뉴가 필요하신 경우 작성해주세요. 클래스 명은 반드시 cmsubnav 포함시켜주세요 -->
		<th:block th:replace="~{/views/inventory/cmsubmenu}" />

		<!--메인 컨텐츠는 여기에 작성해주세요. 반드시 클래스명에 cmcontents  포함시켜주세요 -->
		<div class="cmcontents">

			<div id="cmcreate">
				<h1>실시간 재고 현황</h1>
				<a href="/inventory-add"><i class="fa-solid fa-plus"></i><span>입고</span></a>
				<a href="/inventory-add"><i class="fa-solid fa-plus"></i><span>출고</span></a>
			</div>
			<!--메인 컨텐츠 중 게시판 서치 양식 입니다. 반드시 div 아이디에 cmsearch-form포함 -->
			<div id="cmsearch-form">
				<form action="#" method="get">
					<li><span>기간 </span><input type="date" id="formDate" name="formDate"><span> ~ </span><input
							type="date" id="formDate" name="formDate">
					</li>
					<select>
						<option>전체</option>
						<option>프론트오피스부</option>
						<option>식음료부</option>
						<option>시설관리부</option>
						<option>보안부</option>
						<option>인사부</option>
						<option>지원부</option>
						<option>마케팅부</option>
					</select> <input type="text" placeholder="검색어를 입력해주세요.">
					<button type="submit">검색</button>
				</form>
			</div>
			<div id="cmposting-format">
				<ul>
					<li> <!--목차입니다.-->
						<span>코드</span>
						<span>부서</span>
						<span>이름</span>
						<span>규격</span>
						<span>공급처</span>
						<span>가격</span>
					</li>

					<li><!--타임리프 적용하려야하는 곳 입니다.-->
						<span>코드</span>
						<span>부서</span>
						<span>이름</span>
						<span>규격</span>
						<span>공급처</span>
						<span>가격</span>
					</li>
				</ul>

			</div>
			<table id="tb_acc_wrap">
				<thead>
					<th>전체</th>
					<th>NO</th>
					<th>제품명</th>
					<th>제품코드</th>
					<th>입고일시</th>
					<th>등록일시</th>
					<th>수량</li>
					<th>금액</li>
						<!--사용처 = 부서-->
					<th>수정</li>
					<th>삭제</li>
			</table>

		</div>
	</main>
</body>

</html>