<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
	<link rel="stylesheet" href="/css/inventory/inventory_list.css">
</head>

<body>
	<!--  -->
	<main class="sample"><!--본인담당 기능대표명 클래스에 작성 -->
		<!--여기에 서브메뉴가 필요하신 경우 작성해주세요. 클래스 명은 반드시 cmsubnav 포함시켜주세요 -->
		<th:block th:replace="~{/views/inventory/cmsubmenu}" />

		<!--메인 컨텐츠는 여기에 작성해주세요. 반드시 클래스명에 cmcontents  포함시켜주세요 -->
		<div class="cmcontents">
			<h1>재고 목록</h1>
			<button><a href="/inventory-add">추가</a></button>
			<div id="conta">
				<div>
					<ul id="top-search">
						<li><span>기간</span><input type="date" id="formDate" name="formDate"><span> ~ </span><input
								type="date" id="formDate" name="formDate"></li>
						<li>
							<select name="part">
								<option value="select">부서</option>
								<option value="select">프론트오피스</option>
								<option value="select">식음료</option>
								<option value="select">시설관리</option>
								<option value="select">보안</option>
								<option value="select">인사</option>
								<option value="select">지원</option>
								<option value="select">마케팅</option>
							</select>
						</li>
						<div class="search">
							<input type="text" placeholder="검색어 입력">
							<img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
						</div>
						<li><a href="/inventory/add"><button>검색</button></a></li>
					</ul>

				</div>
			</div>
			<table id="tb_acc_wrap">
				<thead>
					<th>전체</th>
					<th>NO</th>
					<th>제품명</th>
					<th>제품코드</th>
					<th>입고일시</th>
					<th>등록일시</th>
					<th>수량</li>
					<th>금액</li>
						<!--사용처 = 부서-->
					<th>수정</li>
					<th>삭제</li>
			</table>

		</div>
	</main>

	</div>
	</main>

</body>

</html>