<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
	<link rel="stylesheet" href="/css/inventory/inventory_write.css">
</head>

<body>
	<!--  -->
	<main class="sample"><!--본인담당 기능대표명 클래스에 작성 -->
		<!--여기에 서브메뉴가 필요하신 경우 작성해주세요. 클래스 명은 반드시 cmsubnav 포함시켜주세요 -->
		<th:block th:replace="~{/views/inventory/cmsubmenu}" />

		<!--메인 컨텐츠는 여기에 작성해주세요. 반드시 클래스명에 cmcontents  포함시켜주세요 -->
		<div class="cmcontents">
			<h1>재고 목록</h1>
			<br>
			<span>날짜 : </span><input type="date" id="formDate" name="formDate">
			<hr>
			<div class="checkbox-container">
				<input type="checkbox" id="check1"><label for="check1"> 프론트오피스부 </label>
				<input type="checkbox" id="check2"><label for="check2"> 식음료 </label>
				<input type="checkbox" id="check3"><label for="check3"> 시설관리 </label>
				<input type="checkbox" id="check4"><label for="check4"> 보안 </label>
				<input type="checkbox" id="check5"><label for="check5"> 인사 </label>
				<input type="checkbox" id="check6"><label for="check6"> 지원 </label>
				<input type="checkbox" id="check7"><label for="check7"> 마케팅 </label>
			</div>
			<div><input type="text" name="product-name" placeholder="제품코드" /></div><br>
			<div><input type="text" name="product-name" placeholder="제품명" /></div>

		</div>
	</main>
</body>

</html>